{{ define "default" }}
<!doctype html>
<html lang="en">
<head>
    <title>Home2</title>
    <link rel="icon" type="image/x-icon" href="data:,">
    <script type="module" src="/js/web/htmx.js"></script>
    {{if .IsDevelopment}}
        <script src="/js/dev/autorefresher.js"></script>
    {{end}}
</head>
<body>
<noscript>Javascript not enabled</noscript>
    {{ template "navbar" }}
    {{ template "content" . }}
</body>
</html>
{{ end }}