{{/* Layout */}}
{{template "layouts/admin"}}

{{/* Page definitions  */}}

{{define "pages/title"}}
    Admin
{{end}}

{{define "pages/content" }}
    test
    <div id="application"></div>
{{end}}



